# Database - Connection Pooling (para aplicação)
DATABASE_URL=""
DIRECT_URL=""

# NextAuth
AUTH_SECRET=""
NEXTAUTH_URL=""
AUTH_TRUST_HOST="true"

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
